# Prevent massive datasets from being pushed to GitHub
radar_dataset/
radar_dataset_csv/
*.csv
*.npy

# Python Scripts & Notebooks (Security/Lightweight Repository)
**/*.py
.venv/
.venv-wsl/
.env

# Python cache
__pycache__/
*.pyc

# Text files
key_ppoints.txt
